* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../../public/assets/images/login.jpg') no-repeat center center/cover;
}

.login-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-style: italic;
    width: 400px;
}

.login-box h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Form alanları */
.login-box .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.login-box label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.login-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

/* Login butonu */
.login-box button {
    width: 100%;
    padding: 12px;
    background: rgb(37, 234, 37);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.login-box button:hover {
    background: cyan;
}

/* Kayıt linki */
.login-box .register-link {
    margin-top: 15px;
    font-size: 14px;
}

.login-box .register-link a {
    color: #008080;
    font-weight: bold;
    text-decoration: none;
}

.login-box .register-link a:hover {
    text-decoration: underline;
}
